/** Main styles go here **/
$icon-font-path: "sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

body {
    margin: 24px 0;
}

.container {
    
    img {
        &#Ad-711 {
            margin-bottom: 10px;
            margin-top: -30px;
            float: right;
            height: 25%;
            width: 25%;
        }
        border: 3px solid silver;
        border-radius: 7px;
        width: 640px;        
        margin: 3px;
        float: left;
    }
    
    .jumbotron {
        background-color: skyblue;
        text-align: center;
        padding: 20px;
    }
    
    .reporting {
        
        background-color: #ccc;
        border: 2px solid #eee;
        border-radius: 7px;
        text-align: center;
        position: relative;
        padding: 33px;
        clear: both;

        text {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        form {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    
}